development:
  adapter: async

test:
  adapter: async

production:
  adapter: redis
  url: <%= ENV.fetch("REDIS_URL") { "redis://redistogo:461c30d11a1ca0e20c1fb3cdfcf6ee82@pearlfish.redistogo.com:9692/" } %>
  channel_prefix: message_me_production
